/* general */

body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

h2 {
    padding-top: 10px;
}

h3 {
    padding-top: 20px;
}

div[class^="col-"] {
    padding: 10px;
}

/* icons */

#gh-icon {
    color: #000;
    font-size: 40pt;
    transition: color 150ms;
    width: 53px;
    height: 53px;
}

#gh-icon:hover {
    color: #444;
}

#mal-icon {
    background-image: url(../images/mal-icon.png);
    width: 53px;
    height: 53px;
    transition: color 150ms;
    border-radius: 5px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: auto;
}

#mal-icon:hover {
    background-image: url(../images/mal-icon-hover.png);
}

*[id$="-icon"] {
    margin: 5px;
}

/* footer */

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.footer {
    margin-top: auto;
}

/* result.html */

textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

.html-preview {
    display: inline-block;
}

/* tutorial.html */

div.img-container {
    width: 100px;
    margin: 0 auto;
    overflow: visible;
}

div.img-container-inner {
    position: relative;
    float: right;
    right: 50%;
}

div.img-container-inner img {
    position: relative;
    right: -50%;
    padding: 15px;
}
